@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;

}

body {
    /* height: 3000px; */
    width: 98vw;
     
}

main {
    /* background-image: url(../image/Renan_Santos_-_Congresso_do_Partido_Missão\,_2026.webp); */
    background-size: cover;  
}

div#um {
    width: 98vw;
    height: 600px;
    background-color: lightgray;
}

div#dois {
    width: 98vw;
    height: 1000px;
    background-color: gray;
}

div#tit1 {
    width: 100%;
    height: 70px;


    background-color: aquamarine;
}

p#tit2 {

}

h2#tit3 {

}

div.artigos {
    width: 100%;
    height: 700px;

    background-color: cadetblue;
}

article.art {
    width: 150px;
    height: 500px;
    background-color: gray;

}

span.titulo1 {

}

h3.titulo3 {

}

div.img2 {
    width: 30px;
    height: 30px;
}

img.img3 {
    width: 100%;
    height: 100%;
}

p.text1 {

}