@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

body {
    /* height: 3000px; */
    width: 98vw;
     
}

main {
    /* background-image: url(../image/Renan_Santos_-_Congresso_do_Partido_Missão\,_2026.webp); */
    background-size: cover;  
}

div#um {
    width: 98vw;
    height: 600px;
    background-color: lightgray;
}

div#dois {
    width: 98vw;
    height: 1000px;
    background-color: gray;
}

div#tit1 {
    width: 100%;
    height: 70px;


    background-color: aquamarine;
}

p#tit2 {

}

h2#tit3 {

}

div.artigos {
    width: 100%;
    height: 700px;

    background-color: cadetblue;
}

article.art {
    width: 300px;
    height: 500px;
    padding: 8px 10px 0px 8px;
    margin: 1px 1px 1px 1px;
    background-color: gray;

    position: relative;

}

span.titulo1 {
    font-size: 2.5em;
    font-weight: bolder;
    position: absolute; 
    top: 14px; 
} 

h3.titulo3 {
    margin: 8px 1px 8px 1px;
    position: absolute; 
    top: 48px; 

    font-size: 1.7em;
    font-weight: bolder;
}

div.img2 {
    width: 220px;
    height: 230px;
    margin: auto;

    position: absolute;
    top: 21%;
    right: 18%;
}

img.img3 {
    width: 100%;
    height: 100%;
}

p.text1 {
    position: absolute;
    bottom: 30px;
    margin: auto;

    font-size: medium;
    font-weight: 350;
}