@charset "UTF-8";

body {
    height: 3000px;
    width: 99vw;
     
}

main {
    /* background-image: url(../image/Renan_Santos_-_Congresso_do_Partido_Missão\,_2026.webp); */
    background-size: cover;  
}